<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<header>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/bankAccount">Mon compte</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/logout">Se déconnecter</a></li>
    </ul>
</header>

<div class="banner"></div>

<nav id="breadcrumb"><a href="/">Accueil</a></nav>

<main>

    <h1>Pay My Buddy</h1>
    <img src="/img/svg/transfer.svg" class="transfer">
    <h2>We make moving your money easy!</h2>


    <div class="solde-compte">
        <p>Mon solde est de : <strong th:utext="${sold}"></strong> €</p>
        <img src="/img/svg/wallet.svg">
    </div>

    <article>
        <div>
            <a href="/contacts"><h3>Mes contacts</h3></a>
            <div class="image"><img src="/img/svg/contact.svg"></div>
        </div>
        <div>
            <div class="image"><img src="/img/svg/payment.svg"></div>
            <a href="/bankAccount"><h3>Mon compte</h3></a>
        </div>
        <div>
            <a href="/transactions"><h3>Mes transactions</h3></a>
            <div class="image"><img src="/img/svg/transaction.svg"></div>
        </div>
    </article>


<!--    <a href="/users">Liste des utilisateurs (admin)</a>-->

</main>

<footer><p>Copyright © 2021 Pay My Buddy - Tous droits réservés</p></footer>

</body>

</html>