<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Récapitulatif de la transaction</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<header>
    <ul>
        <li><a href="">Accueil</a></li>
        <li><a href="/bankAccount">Mon compte</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/transactions">Transactions</a></li>
    </ul>
</header>

<div class="banner"></div>


<h1>Transaction effectuée !</h1>

</body>
</html>